<html ng-app="app">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<head>
		<title>DQuest2.0</title>
		<link rel="stylesheet" href="style/style.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	</head>
	<body>
		<span class="gradient"></span>
		<div ng-controller="MainCtrl" class="body" ng-keypress="log()">
			<navbar></navbar>

			<div class="content-left">
				<div class="stats">
					<div class="stat-block">
						<br>
						<p>Name: {{ player().name }}</p>
						<p>Job: {{ player().job.name }}</p>
						<p>Race: {{ player().race.name }}</p>
						<p>Level: {{ player().level }}</p>
						<p>Alignment: <span>{{ alignment(player().lawful, player().good) }} </span></p>
						<p>Gold: <span>{{ player().gold }} </span></p>
						
						
						<div class="bars">
							<div class="experience">{{ experienceBar() }}</div>
							<div class="health">{{ healthBar() }}</div>
							<div class="mana">{{ manaBar() }}</div>
							<div class="stamina">{{ staminaBar() }}</div>
						</div>
						
						
						<!--
						<p>Experience:
							<uib-progressbar type="success" class="bar" max="player.nextLevel" value="player.experience"><span>{{player.experience}} | {{ player.nextLevel }}</span></uib-progressbar>
						</p>
						<hr>
						<p>Health:
							<uib-progressbar type="danger" class="bar" max="player.maxHealth" value="player.health"><span>{{player.health}} | {{ player.maxHealth }}</span></uib-progressbar>
						</p>
						<p>Mana:
							<uib-progressbar type="primary" class="bar" max="player.maxMana" value="player.mana"><span>{{player.mana}} | {{ player.maxMana }}</span></uib-progressbar>
						</p>
						<p>Stamina:
							<uib-progressbar type="warning" class="bar" max="player.maxStamina" value="player.stamina"><span>{{player.stamina}} | {{ player.maxStamina }}</span></uib-progressbar>
						</p>-->
						<hr>
						<div class="mainstats">
							<span>SPD: {{player().spd}}</span>
							<span>ATK: {{player().atk}}</span>
							<span>DEF: {{player().def}}</span>
							<span>MAG: {{player().mag}}</span>
							<span>PUR: {{player().pur}}</span>
							<span>SWY: {{player().swy}}</span>
						</div>
						<hr>
						<div class="abilities">
							<span>STR: {{ player().rS().str }}</span>
							<span>AGI: {{ player().rS().agi }}</span>
							<span>INT: {{ player().rS().int }}</span>
							<span>CHR: {{ player().rS().chr }}</span>
							<span>WIS: {{ player().rS().wis }}</span>
							<span>CON: {{ player().rS().con }}</span>
						</div>
						<hr>
						<div class="clock">
							<div class="returns">
								Returned: {{ time().returned }}
							</div>
							<div class="days">
								Day: {{ time().daysElapsed }} / {{ time().daysEnd }}
							</div>
							<div class="hours">
								{{ time().hours }}:{{ time().minutes | dd }}
							</div>
						</div>
					</div>
				</div>
				<div class="info">
					<div class="map">
						<div class="row" ng-repeat="y in map.minimap track by $index">
							<div class="cell" ng-repeat="x in y track by $index">
								<div ng-class="x.class" ng-style="x.style"></div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="content-mid">

				<div class="main">
					<div class="main-field">
						<div ng-view></div>
					</div>
				</div>


				<div class="foot">
					<div class="button-field">
						<button class="button" ng-disabled="locked.travel" ng-click="goto('/camp')">Camp</button>
						<button class="button" ng-disabled="locked.travel" ng-click="goto('/town')"> Town </button>
						<button class="button" ng-disabled="locked.travel" ng-click="genMap()"> Maze </button>
						<button class="button">4</button>
						<button class="button">5</button>
						<button class="button" ng-click="inc()">6</button>
					</div>
					<div class="dpad-field" keypress-events>
						<div class="dpad">
							<div class="up">
								<button ng-click="move([-1,0])" ng-disabled="!checkWall(map.mapObj.map[curLoc[0]-1][curLoc[1]]) || locked.maze"><i class="fa fa-arrow-up"></i></button>
							</div>
							<div class="mid">
								<button ng-click="move([0,-1])" ng-disabled="!checkWall(map.mapObj.map[curLoc[0]][curLoc[1]-1]) || locked.maze" class="btn-left"> <i class="fa fa-arrow-left"></i></button>
								<button ng-click="move([0,1])" ng-disabled="!checkWall(map.mapObj.map[curLoc[0]][curLoc[1]+1]) || locked.maze" class="btn-right"> <i class="fa fa-arrow-right"></i> </button>
							</div>
							<div class="down">
								<button ng-click="move([1,0])" ng-disabled="!checkWall(map.mapObj.map[curLoc[0]+1][curLoc[1]]) || locked.maze"><i class="fa fa-arrow-down"></i></button>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.3.0/lodash.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.2/angular-sanitize.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.2/angular-route.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.2/angular-animate.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.1.2/ui-bootstrap-tpls.js"></script>
		<!-- App -->
		<script src="js/app.js"></script>
		<script src="js/module/creatureCreation.js"></script>
		<script src="js/module/mapCreation.js"></script>
		<script src="js/module/combatHandler.js"></script>
		<script src="js/module/itemCreation.js"></script>
		<script src="js/module/townCreation.js"></script>
		<script src="js/module/campCreation.js"></script>
		<script src="js/module/shopCreation.js"></script>
		<!-- Controllers -->
		<script src="js/controllers/createController.js"></script>
		<script src="js/controllers/campController.js"></script>
		<script src="js/controllers/townController.js"></script>
		<script src="js/controllers/startController.js"></script>
		<script src="js/controllers/mazeController.js"></script>
		<script src="js/controllers/customMapController.js"></script>
		<script src="js/controllers/customNPCController.js"></script>
		<!-- Directives -->
		<script src="js/directives/navbar.js"></script>
		<!-- Services -->
		<script src="js/services/patchService.js"></script>
		<script src="js/services/playerService.js"></script>
		<script src="js/services/buttonService.js"></script>
		<script src="js/services/mapService.js"></script>
		<script src="js/services/timeService.js"></script>
		<script src="js/services/townService.js"></script>
		<!-- Filters -->
		<script src="js/filters/filters.js"></script>
	</body>
</html>