//Colors
@green:	#99b898;
@darkGreen:	#89a588;
@pink: #ff847c;
@darkPink: #e5766f;
@red: #e84a5f;
@darkRed: #d04255;
@blue: #405EA3;
@darkBlue: #264897;
@beige: #fecea8;
@darkBeige: #e4b996;
@gray: #2a363b;
@darkGray: #253035;


//MiniMap Colors
@floor: #91b09a;
@wall: #418eb0;
@fog: #3f3656;

//Item Colors
@itemWhite: #fafafa;
@itemBlue: #24D9FF;
@itemGreen: #94FF53;
@itemYellow: #FFFC0B;
@itemOrange: #F67F00;
@itemRed: #FF5237;


@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
//mixin
.clearfix {
  overflow: auto;
}

//Style
body {
	padding-top: 50px;
	font-family: 'Noto Sans', sans-serif!important;
}
.gradient{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 99;
	pointer-events: none;
	
}

.body{
	flex-direction: column;
	height: auto;
	background-color: @darkGray;
	color: white;
	small{
		color: @beige;
	}
}
.nav-cont{
	display: inline-block;
	position: relative;
	height: auto;
}
//SiteWide Stuff
.drop-up {
	top: auto !important;
	bottom: 100% !important;
}


//Custom Stuff
.content-left{
	width: 250px; 
	float: left; /* [1] */
	height: 100%;
	min-height: 360px;
	.clearfix();
	h1{
		text-align: center;
	}
	.stats{
		display: inline-block;
		height: 80%;
		min-height: 180px;
		width: 100%;
		border: 1px solid white;
		overflow-y: auto;
		.stat-block{
			.bars{
				.health{
					color: @darkRed;
				}
				.mana{
					color: @blue;
				}
				.stamina{
					color: @beige;
				}
			}
			.bar{
				span{
					color: white;
					text-shadow: 0 0 2px @darkGray;
					white-space:nowrap;
				}
			}
			.mainstats{
				span{
					text-align: center;
					width: 44%;
					display: inline-block;
					margin-left: 2.5%;
					margin-right: 2.5%;
					margin-bottom: 5px;
				}
			}
			.abilities{
				span{
					text-align: center;
					width: 44%;
					display: inline-block;
					margin-left: 2.5%;
					margin-right: 2.5%;
					margin-bottom: 5px;
				}
			}
			.alignment{}
		}
		.clock{
			text-align: center;
			.days{
				width: 100%;
			}
			.hours{
				width: 100%;
			}
		}
	}
	.info{
		display: inline-block;
		height: 20%;
		width: 100%;
		min-height: 180px;
		border: 1px solid white;
		text-align: center;
		overflow: visible;
		//background: @fog;
		.map{
			display: inline-block;
			width: 100%;
			height: 100%;
			.row{
				width: 100%;
				display: inline-block;
				position: relative;
				//animation: pop cubic-bezier(0,0.7,0.8,1) 0.5s;
				.cell{
					display: inline-block;
					position: relative;
					width: 16px;
					height: 16px;
					//animation: pop cubic-bezier(0,0.7,0.8,1) 0.5s;
				}
				
				.w{
					background-color: transparent;
					width: 16px;
					height: 16px;
				}
				/*
				*
				* Wall Styles
				*
				*/
				.wall{
					background-color: @gray;
					//transition: none!important;
					z-index: 10;
					position: relative;
					width: 16px;
					height: 16px;
				}
				/*
				*
				* Floor Styles
				*
				*/
				.r{
					background-color: @floor;
					position: relative;
					z-index: 1;
					width: 16px;
					height: 16px;
					//border-top: 1px solid @darkGray;
					//border-left: 1px solid @darkGray;
					//transition: none!important;
				}
				.s{
					background-color: blue;
					width: 16px;
					height: 16px;
					//border-top: 1px solid blue;
					//border-left: 1px solid blue;
					transition: none!important;
				}
				.e{
					background-color: red;
					width: 16px;
					height: 16px;
					//border-top: 1px solid red;
					//border-left: 1px solid red;
					transition: none!important;
				}
				.p{
					position: relative;
					width: 16px;
					height: 16px;
					background-color: @darkRed;
					border: 2px solid @red;
					box-shadow: 0 0 5px #333;
					z-index: 1;
					transition: none!important;
				}
				.chest{
					position: relative;
					width: 16px;
					height: 16px;
					color: yellow;
				}
			}
		}
	}
} //Main View Left Side of Screen (SideBar)
.content-mid{ 
	overflow-x: auto;
	overflow-y: hidden;/* [2] */
	height: 100%;
	min-width: 400px;
	min-height: 360px;
	position: relative;
	.clearfix();
	.main{
		display: inline-block;
		position: relative;
		height: 80%;
		width: 100%;
		min-height: 180px;
		border: 1px solid white;
		overflow-y: auto;
	}
	.foot{
		display: block;
		height: 20%;
		width: 100%;
		min-height: 180px;
		max-height: 20%;
		min-width: 380px; 
		border: 1px solid white;
		overflow: visible!important;
		.button-field{
			display: inline-block;
			position: relative;
			margin-left: 5px;
			height: 100%;
			width: 79%; 
			min-width: 300px; 
			float: left;
			.button{
				height: 40%;
				width: 30%;
				margin: 2px;
				background: white;
				color: black;
				border: 2px solid black;
				&:disabled{
					background: fade(white, 50%);
					color: fade(black, 50%);
				}
			}
		}
		.dpad-field{
			display: inline-block;
			position: relative;
			height: 100%;
			width: 19%;
			min-width: 100px; 
			float: right;
			margin-right: 1%;
			.dpad{
				height: 100%;
				text-align: center;
				button{
					height: 100%;
					width: 50%;
					background: white;
					color: black;
					font-size: 32px;
					border: 2px solid black;
				}
				.up{
					display: block;
					height: 33%;
					padding: 5px;
				}
				.mid{
					display: block;
					height: 33%;
					padding: 5px;
					.btn-left{
						float: left;
					}
					.btn-right{
						float: right;
					}
				}
				.down{
					display: block;
					height: 33%;
					padding: 5px;
				}
			}
		}
	}
} //Main View Right Side of Screen (Main Content)
.start{
	button{
		color: black;
	}
}
.create{
	input{
		color: black;
	}
	.center{
		display: inline-block;
		width: 100%;
		text-align: center;
	}
	select{
		color: black;
	}
	.cont{
		.clearfix();	
	}
	.createbox{
		background: @gray;
		border: 1px solid white;
		min-height: 150px;
		padding: 1em 20px 1em 20px;
	}
	.racebox{
		display: inline-block;
		width: 100%;
		background: @gray;
		border: 1px solid white;
		min-height: 200px;
		padding-top: 3em;
		padding-bottom: 3em;
		padding-left: 20px;
		padding-right: 20px;
		.race-select{
			display: inline-block;
			width: 30%;
		}
		.race-info{
			display: inline-block;
			width: 60%;
		}
	}
	.blemishes{
		.blemish-container{
			display: inline-block;
			margin-bottom: 5px;
			width: 100%;
			.blemish-list{
				background-color: @gray;
				border: 1px solid white;
				.blemish-item-owned{
					display:inline-block;
					width: 100%;
					&:hover{
						color: @red;
						background-color: @darkGray;
						cursor: pointer;
					}
				}
				.blemish-item-add{
					display:inline-block;
					width: 100%;
					&:hover{
						color: @green;
						background-color: @darkGray;
						cursor: pointer;
					}
				}
			}
		}
	}
	.btn-create{
		background-color: @red;
		border: 2px solid @darkRed;
		&:active{
			background-color: @darkRed;
			border: 2px solid @red;
		}
		&:focus{
			outline: 0;
		}
	}
}
.camp{
	.inventory{
		.items{
			display: inline-block;
		}
	}
	button{
		color: black;
	}
}
.maze{
	overflow-x: hidden;
	height: 100%;
	.messages{
		display: inline-block;
		position: relative;
		width: 100%;
		overflow-y: auto;
		padding-bottom: 75px;
		.message{
			display: flex;
			align-items: center;
			text-align: left;
			font-size: 16px;
			min-height: 32px;
			line-height: 32px;
			width: 100%;
			&:nth-child(1){
				height: 64px;
				background-color: @darkBlue!important;
			}
			&:nth-child(odd){
				background-color: @gray;
			}
		}
		.entrance{
			color: blue;
		}
		.health{
			color: @darkRed;
		}
		.chest{
			color: @beige;
		}
		.enemy{
			color: @red;
		}
	}
	.button-container{
		background-color: @darkGray;
		position: absolute;
		display: block;
		width: 100%;
		height: 75px;
		bottom: 0;
		.button-row{
			display: inline-flex;
			width: 100%;
			height: 100%;
			align-items: center;
			}
			button{
				height: 55px;
				min-width: 70px;
			}
		}
	}
}
.town{
	.inventory{
		display: inline-block;
		position: relative;
		width: 100%;
		.items{
			display: inline-block;
		}
	}
	input{
		color: black;
	}
	button{
		color: black;
	}
}
.customMap{
	.map-container{
		margin-left: 100px;
		position: relative;
		.map{
			display: inline-block;
			position: relative;
			width: 100%;
			height: 100%;
			border: 1px solid white;
			margin-left: 32px;
			.row{
				width: 100%;
				display: inline-block;
				position: relative;
				//animation: pop cubic-bezier(0,0.7,0.8,1) 0.5s;
				.cell{
					display: inline-block;
					position: relative;
					width: 16px;
					height: 16px;
					//animation: pop cubic-bezier(0,0.7,0.8,1) 0.5s;
				}

				.w{
					background-color: transparent;
					width: 16px;
					height: 16px;
				}
				/*
				*
				* Wall Styles
				*
				*/
				.wall{
					background-color: @gray;
					//transition: none!important;
					z-index: 10;
					position: relative;
					width: 16px;
					height: 16px;
				}
				/*
				*
				* Floor Styles
				*
				*/
				.r{
					background-color: @floor;
					position: relative;
					z-index: 1;
					width: 16px;
					height: 16px;
					//border-top: 1px solid @darkGray;
					//border-left: 1px solid @darkGray;
					//transition: none!important;
				}
				.s{
					background-color: blue;
					width: 16px;
					height: 16px;
					//border-top: 1px solid blue;
					//border-left: 1px solid blue;
					transition: none!important;
				}
				.e{
					background-color: red;
					width: 16px;
					height: 16px;
					//border-top: 1px solid red;
					//border-left: 1px solid red;
					transition: none!important;
				}
				.p{
					position: relative;
					width: 16px;
					height: 16px;
					background-color: @darkRed;
					border: 2px solid @red;
					box-shadow: 0 0 5px #333;
					z-index: 1;
					transition: none!important;
				}
			}	
		}
	}
}


//Item CSS
.item(@color){
	width: 150px;
	height: 200px;
	background-color: @gray;
	border: 2px solid @color;
	margin: 5px;
	position: relative;
	overflow: hidden;
	.iden{
		font-weight: bold;
		color: @color;
		text-align: center;
		.rarity{
			display: inline-block;
			position: relative;
			width: 100%;
		}
		.name{
			display: inline-block;
			position: relative;
			width: 100%;
		}
	}
	.stats{
		font-weight: bold;
		margin-top: 5px;
		display: inline-block;
		min-height: 70px;
	}
	.info{
		margin-top: 5px;
		display: inline-block;
		width: 100%;
		text-align: center;
		min-height: 30px;
		.slot{
			margin-left: 1%;
			float: left;
			display: inline-block;
			position: relative;
			width: 36%;
		}
		.level{
			width: 30%;
			text-align: center;
			display: inline-block;
			position: relative;
		}
		.price{
			width: 33%;
			display: inline-block;
			position: relative;
			float: right;
			color: gold;
		}
	}
	.interactable{
		display: inline-block;
		text-align: center;
		width: 100%;
		margin-top: 15px;
		button{
			display: inline-block;
			position: relative;
			background-color: @color;
			border: 2px solid fade(@color, 50%);
			border-radius: 2px;
		}
	}
	&:hover{
		background-color: fade(@color, 30%);
	}
}
//,'white','blue','green','yellow','orange','red
.white{
	.item(@itemWhite);
}
.blue{
	.item(@itemBlue);
}
.green{
	.item(@itemGreen);
}
.yellow{
	.item(@itemYellow);
}
.orange{
	.item(@itemOrange);
	box-shadow: 0 2px 5px -3px @itemOrange, 0 -2px 5px -3px @itemOrange;
}
.red{
	.item(@itemRed);
	box-shadow: 0 2px 5px -1px @itemRed, 0 -2px 5px -1px @itemRed;
}

.bluetext{
	color: @itemBlue;
}
.greentext{
	color: @itemGreen;
}
.yellowtext{
	color: @itemYellow;
}
.orangetext{
	color: @itemOrange;
}
.redtext{
	color: @itemRed;
}

.whitebtn{
				background-color: @itemWhite;
				a:hover{
					background-image: none;
					background-color: fade(black, 10%);
				}
			}
			.bluebtn{
				background-color: @itemBlue;
				a:hover{
					background-image: none;
					background-color: fade(black, 10%);
				}
			}
			.greenbtn{
				background-color: @itemGreen;
				a:hover{
					background-image: none;
					background-color: fade(black, 10%);
				}
			}
			.yellowbtn{
				background-color: @itemYellow;
				a:hover{
					background-image: none;
					background-color: fade(black, 10%);
				}
			}
			.orangebtn{
				background-color: @itemOrange;
				a:hover{
					background-image: none;
					background-color: fade(black, 10%);
				}
			}
			.redbtn{
				background-color: @itemRed;
				a:hover{
					background-image: none;
					background-color: fade(black, 10%);
				}