	<div class="savebar">
		
		<div class="btn-group" uib-dropdown>
			<button id="saves" type="button" class="btn btn-primary" uib-dropdown-toggle>
				Saves <span class="caret"></span>
			</button>
			<ul uib-dropdown-menu role="menu" aria-labelledby="saves">
				<li role="menuitem" ng-click="saveGame($index+1)" ng-repeat="save in saves track by $index"><a href="">{{$index+1}}. {{ save.name }} [{{ save.level }}]</a></li>
			</ul>
		</div>
		
		<div class="btn-group" uib-dropdown>
			<button id="loads" type="button" class="btn btn-primary" uib-dropdown-toggle>
				Loads <span class="caret"></span>
			</button>
			<ul uib-dropdown-menu role="menu" aria-labelledby="loads">
				<li role="menuitem" ng-click="loadGame($index+1)" ng-repeat="save in saves track by $index"><a href="">{{$index+1}}. {{ save.name }} [{{ save.level }}]</a></li>
			</ul>
		</div>
		
	</div>

<hr>

<div class="camp"> 
	<div class="camp-posts">
		<div>
			Blacksmith: {{ camp.blacksmith }}
		</div>
		<div>
			Farm: {{ camp.farm }}
		</div>
		<div>
			Kitchen: {{ camp.kitchen }}
		</div>
		<div>
			Tent: {{ camp.tent }}
		</div>
		<div>
			Enchanters: {{ camp.enchanters }}
		</div>
	</div>
	
	

	<hr>
	<div>
		<h2>Tent</h2>
		<span ng-repeat="(key, area) in player.blemishes" ng-show="area.length >= 1"> Their {{ key }} is marred by <span ng-repeat="blem in area"> {{blem}},</span>. </span>
		
		<div>
			<button class="btn btn-info" ng-click="rest()">Rest</button><br>
		</div>
	</div>

	
	<div ng-show="statInc()">
		<button ng-click="incStat('str')">+STR</button>
		<button ng-click="incStat('agi')">+AGI</button>
		<button ng-click="incStat('int')">+INT</button>
		<button ng-click="incStat('wis')">+WIS</button>
		<button ng-click="incStat('chr')">+CHR</button>
		<button ng-click="incStat('con')">+CON</button>
	</div>
	
	<hr>
	<div class="inventory">
		<h1>Inventory</h1>
			
		<div ng-repeat="item in inventory() track by $index" class="items" ng-class="item.color">
			<div class="iden">
				<span class="rarity"> {{ item.rarity }} </span>
				<span class="name"> {{item.name}}</span>
			</div>
			<div class="stats">
				<span ng-repeat="(key, stat) in item.stats" ng-show="stat > 0" class="col-xs-6">{{key}}:{{stat}} </span>
			</div>
			<div class="info">
				<span class="slot"> {{item.slot}} </span>
				<span class="level"> Lvl:{{item.level}} </span>
				<span class="price"> {{item.price}}G </span>
			</div>
			<div class="interactable">
				<button ng-click="equip(item, $index)">Equip</button>
			</div>
		</div>
		
	</div>
	
	<hr>
	<div>
		<h1>Equipment</h1>
		<div class="equipment" ng-repeat="(key, item) in equipment()">
			<h4>{{key}}</h4>
			<div class="items" ng-class="item.color" ng-show="item.name">
				<div class="iden">
					<span class="rarity"> {{ item.rarity }} </span>
					<span class="name"> {{item.name}}</span>
				</div>
				<div class="stats">
					<span ng-repeat="(key, stat) in item.stats" ng-show="stat > 0" class="col-xs-6">{{key}}:{{stat}} </span>
				</div>
				<div class="info">
					<span class="slot"> {{item.slot}} </span>
					<span class="level"> Lvl:{{item.level}} </span>
					<span class="price"> {{item.price}}G </span>
				</div>
				<div class="interactable">
					<button ng-click="unequip(item, $index)">Unequip</button>
				</div>
			</div>
		</div>
	</div>

</div>
