<div class="create" ng-hide="player.created">
	<div class="introText" ng-show="curView('introtext')">
		<div class="container">
			<p> Welcome to {DQuest2.0}. The game is a fairly simple RPG. Kill monsters, gather gear, increase stats. You have 4 options when confronted by a monster in the maze, Attack, Club, Sway and Flee.</p>
			<p> You are a creature without time. You awaken in a camp located on a prarie that strecthes infinitely in all directions. The camp is empty save a bedroll, firepit and a door with no frame. Opening the door will take you to another realm. One destined to be destroyed. At the end of the week the world will meet its fate but you will not. Reach the Eighth day and you will find yourself back at the beginning. Changes to yourself and your camp are permanent however changes to the outside world will reset with the week. Good Luck.</p>

			<div class="center">
				<button class="btn btn-success" ng-click="switchView('creation')">Continue</button>
			</div>
			
		</div>
		
	</div>
	<div class="create"  ng-show="curView('creation')">
		<div class="createbox col-xs-6">
				<h1><small>Name:</small></h1>
				<input type="text" ng-model="player.name">
			</div>

			<div class="createbox col-xs-6">
				<h1><small>Gender</small></h1>
				<select ng-model="player.gender">
					<option ng-repeat="gen in gender">{{ gen }}</option>
				</select>
			</div>

		<div class="racebox">
			<div class="race-select">
				<h1><small>Job</small></h1>
				<select ng-model="job" ng-change="player.setJob(job)">
					<option ng-repeat="job in jobs.list">{{ job }}</option>
				</select>
			</div>
			<div class="race-info">
				<p> {{ jobStats().description }} </p>
				<p>{{ alignment(jobStats().alignment.lawful, jobStats().alignment.good) }} </p>
				<p>| <span ng-repeat="(k, st) in jobStats().stats track by $index">{{ k }}: {{ st }} | </span></p>
			</div>
		</div>

		<div class="racebox">
			<div class="race-select">
				<h1><small>Race</small></h1>
				<select ng-model="race" ng-change="player.setRace(race)">
					<option ng-repeat="race in races.list">{{ race }}</option>
				</select>
			</div>
			<div class="race-info">
				<p> {{ raceStats().description }} </p>
				<p> Avg Height: {{ raceStats().height | height }}</p>
				<p> Avg Weight: {{ raceStats().weight }} lbs.</p>
				<p>| <span ng-repeat="(k, st) in raceStats().stats track by $index">{{ k }}: {{ st }} | </span></p>
			</div>
		</div>
		<div class="createbox">
		<h1><small>Total Stats</small></h1>
			| <span ng-repeat="(k, st) in stats() track by $index">{{ k }}: {{ st }} | </span>
		</div>


		<div class="cont">

			<div class="createbox col-xs-4">
				<h1><small>Hair</small></h1>
				<span>
					Color:
					<select ng-model="player.hair.color">
						<option ng-repeat="color in player.race.hairColAvailable">{{ color }}</option>
					</select>
				</span>
				<!--<p>Custom: <input ng-model="player.hair.color"></p>-->
				<span>
					Length:
					<select ng-model="player.hair.length">
						<option value="0">Bald</option>
						<option value="1">Short</option>
						<option value="6">Medium</option>
						<option value="12">Long</option>
					</select>
				</span>
			</div>

			<div class="createbox col-xs-4">
				<h1><small>Eyes</small></h1>
				<span>
					Color:
					<select ng-model="player.eyes.color">
						<option ng-repeat="color in eyes.color">{{ color }}</option>
					</select>
				</span>
			</div>

			<div class="createbox col-xs-4">
				<h1><small>Skin</small></h1>
				<span>
					Color:
					<select ng-model="player.skin.color">
						<option ng-repeat="color in player.race.skinColAvailable">{{ color }}</option>
					</select>	
				</span>
			</div>

		</div>

		<div class="createbox">

			<h1><small>Height</small></h1>
			<span class="pull-left">{{ raceStats().height-12 | height }}</span>	<span class="pull-right">{{ raceStats().height+12 | height }}</span>
			<input id="sliderHeight" type="range" ng-model="player.height" min="{{ raceStats().height - 12}}" max="{{raceStats().height + 12}}" step="1" />
			<span class="center">{{ player.height | height }}</span>
		</div>


		<div class="createbox">
			<h1><small>Weight</small></h1>
			<span class="pull-left">{{ raceStats().weight-50 }}</span>	<span class="pull-right">{{ raceStats().weight+50 }}</span>
			<input id="sliderWeight" type="range" ng-model="player.weight" min="{{ raceStats().weight - 50}}" max="{{raceStats().weight + 50}}" step="5" />
			<span class="center">{{ player.weight }}</span>
		</div>

		<div class="createbox">
			<div class="blemishes">
				<h1><small>Blemishes</small></h1>
				<div class="blemish-container">
					<h4>Current Blemishes</h4>
					<div class="blemish-list col-sm-2">
						<h4><small>Face</small></h4>
						<span class="blemish-item-owned" ng-repeat="blem in player.blemishes.face track by $index" ng-click="remBlem('face', $index)">{{ blem }}</span>
					</div>
					<div class="blemish-list col-sm-2">
						<h4><small>Torso</small></h4>
							<span class="blemish-item-owned" ng-repeat="blem in player.blemishes.torso track by $index" ng-click="remBlem('torso', $index)">{{ blem }}</span>
					</div>
					<div class="blemish-list col-sm-2">
						<h4><small>Right Arm</small></h4>
							<span class="blemish-item-owned" ng-repeat="blem in player.blemishes.rightArm track by $index" ng-click="remBlem('rightArm', $index)">{{ blem }}</span>
					</div>
					<div class="blemish-list col-sm-2">
						<h4><small>Left Arm</small></h4>
							<span class="blemish-item-owned" ng-repeat="blem in player.blemishes.leftArm track by $index" ng-click="remBlem('leftArm ', $index)">{{ blem }}</span>
					</div>
					<div class="blemish-list col-sm-2">
						<h4><small>Right Leg</small></h4>
							<span class="blemish-item-owned" ng-repeat="blem in player.blemishes.rightLeg track by $index" ng-click="remBlem('rightLeg', $index)">{{ blem }}</span>
					</div>
					<div class="blemish-list col-sm-2">
						<h4><small>Left Leg</small></h4>
							<span class="blemish-item-owned" ng-repeat="blem in player.blemishes.leftLeg track by $index" ng-click="remBlem('leftLeg', $index)">{{ blem }}</span>
					</div>
				</div>

				<div class="blemish-container">
					<h4>Available Blemishes</h4>
					<div class="blemish-list col-sm-2">
						<h4><small>Face</small></h4>
							<span class="blemish-item-add" ng-repeat="blem in blemishes.face track by $index" ng-click="addBlem('face', $index)">{{ blem }}</span>
					</div>
					<div class="blemish-list col-sm-2">
						<h4><small>Torso</small></h4>
							<span class="blemish-item-add" ng-repeat="blem in blemishes.torso track by $index" ng-click="addBlem('torso', $index)">{{ blem }}</span>
					</div>
					<div class="blemish-list col-sm-2">
						<h4><small>Right Arm</small></h4>
							<span class="blemish-item-add" ng-repeat="blem in blemishes.rightArm track by $index" ng-click="addBlem('rightArm', $index)">{{ blem }}</span>
					</div>
					<div class="blemish-list col-sm-2">
						<h4><small>Left Arm</small></h4>
							<span class="blemish-item-add" ng-repeat="blem in blemishes.leftArm track by $index" ng-click="addBlem('leftArm', $index)">{{ blem }}</span>
					</div>
					<div class="blemish-list col-sm-2">
						<h4><small>Right Leg</small></h4>
							<span class="blemish-item-add" ng-repeat="blem in blemishes.rightLeg track by $index" ng-click="addBlem('rightLeg', $index)">{{ blem }}</span>
					</div>
					<div class="blemish-list col-sm-2">
						<h4><small>Left Leg</small></h4>
							<span class="blemish-item-add" ng-repeat="blem in blemishes.leftLeg track by $index" ng-click="addBlem('leftLeg', $index)">{{ blem }}</span>
					</div>
				</div>
			</div>

		</div>

		<div class="createbox">
			<div class="center">
				<button class="btn-lg btn-create" ng-click="finalize()"> Create </button>
			</div>
		</div>
	</div>
		

</div>
