<div class="customMap">
	<div class="map-container">
		<div class="map">
			<div  class="row" ng-repeat="y in mapObj().map track by $index">
				<div  class="cell" ng-class="x.getRoom()" ng-style="x.style" ng-repeat="x in y track by $index" ng-click="change(x)">
				</div >
			</div >
		</div >
	</div>
	
	
	<div class="materials">
		Active: <input type="checkbox" ng-model="brush.active">
		Brush: <input type="text" ng-model="brush.type">
	</div>
	
	{{brush}}
</div>

{{ mapObj() }}