<div class="maze">
	<div class="messages">
		<span class="message" ng-repeat="message in messages | reverse track by $index" ng-class="message.class" ng-bind-html="message.text">
		</span>
	</div>

	<div class="button-container">
		<div class="button-row">
			<span ng-repeat="button in buttons">
				<button ng-class="button.class" ng-click="button.fn()">{{ button.text }}</button>
			</span>
			
			<div class="btn-group" uib-dropdown ng-show="inventory().length > 0">
				<button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle>
					Drop Item <span class="caret"></span>
				</button>
				<ul uib-dropdown-menu role="menu" class="drop-up" aria-labelledby="single-button">
					<li role="menuitem" ng-click="drop($index)" ng-class="item.color+'btn'" ng-repeat="item in inventory() track by $index"><a href="">{{ $index }} {{ item.name }}[{{item.level}}] </a></li>
				</ul>
			</div>
			
			<div class="btn-group" uib-dropdown ng-show="floorItems().length > 0">
				<button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle>
					Pickup Floor Item <span class="caret"></span>
				</button>
				<ul uib-dropdown-menu role="menu" class="drop-up" aria-labelledby="single-button">
					<li role="menuitem" ng-click="pickup($index)" ng-class="item.color+'btn'" ng-repeat="item in floorItems() track by $index"><a href="">{{ $index }} {{ item.name }}[{{ item.level }}] </a></li>
				</ul>
			</div>
		</div>
	</div>
</div>