<div class="start">
	<h1> Welcome to Game.</h1>
	
	<div>
		<button ng-click="goto('/create'); newChar()">Create Character</button>
		<div class="btn-group" uib-dropdown is-open="status.isopen">
			<button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
				Load Game <span class="caret"></span>
			</button>
			<ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
				<li role="menuitem" ng-click="load($index+1)" ng-repeat="save in saves track by $index"><a href="">{{$index+1}}. {{ save.name }} [{{ save.level }}]</a></li>
			</ul>
		</div>
		<!--
		<hr>
		<button ng-click="goto('/cusMap')">Custom Map</button>
		<button ng-click="goto('/cusNPC')">Custom NPC</button>
		<hr>
	</div>
	-->
		
	<div class="patches">
		<ul ng-repeat="patch in patches">
			<h3>{{ patch.patchNo }} | {{ patch.date | date}}</h3>
			<li ng-repeat="note in patch.notes">
				{{note}}
			</li>
		</ul>
	</div>
	
	
</div>
