<div class="town">
	<div class="townSquare" ng-show="curView('square')">
		<button class="btn" ng-click="switchView('generalStore')">General Store</button>
		<button class="btn" ng-click="switchView('prison')">Prison</button>
	</div>
	
	<div class="generalStore" ng-show="curView('generalStore')">
		Shopkeeper: {{ generalStore.name }} <br>
		Gold: {{ generalStore.gold }}
		<div class="inventory">
			<div ng-repeat="item in generalStore.shopInventory track by $index" class="items" ng-class="item.color">
				<div class="iden">
					<span class="rarity"> {{ item.rarity }} </span>
					<span class="name"> {{item.name}}</span>
				</div>
				<div class="stats">
					<span ng-repeat="(key, stat) in item.stats" ng-show="stat > 0" class="col-xs-6">{{key}}:{{stat}} </span>
				</div>
				<div class="info">
					<span class="slot"> {{item.slot}} </span>
					<span class="level"> Lvl:{{item.level}} </span>
					<span class="price"> {{item.price}}G </span>
				</div>
				<div class="interactable">
					<button ng-click="buyItem($index)">Buy</button>
				</div>
			</div>
		</div>
		
		<button class="btn btn-success" ng-click="upgradeShop()">Upgrade</button>
		<button class="btn btn-warning" ng-click="switchView('square')">Back To Square</button>
		
		<div class="btn-group" uib-dropdown ng-show="inventory().length > 0">
			<button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle>
				Sell Item <span class="caret"></span>
			</button>
			<ul uib-dropdown-menu role="menu" class="drop-up" aria-labelledby="single-button">
				<li role="menuitem" ng-click="sellItem($index)" ng-class="item.color+'btn'" ng-repeat="item in inventory() track by $index"><a href="">{{price(item.price)}}G {{ item.name }}[{{item.level}}] </a></li>
			</ul>
		</div>
	</div>
	
	<div class="prison" ng-show="curView('prison')">
		<p>You enter the musty prison. A lazy sheriff naps in the corner. He wakes up as the door closes.</p>
		
		<p> {{ prisonAction }} </p>
		
		<p ng-show="allowManacles"><button ng-click="getManacles()">Receive Item</button></p>
		
		<button class="btn btn-primary" ng-click="approachSheriff()">Approach Sheriff</button>
		<button class="btn btn-primary" ng-click="checkCells()">Check Cells</button>
		<button class="btn btn-warning" ng-click="switchView('square')">Back To Square</button>
	</div>
